/* navbar  */

nav {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

nav a img {
  height: 50px;
  padding: 0;
  margin: 0;
}

nav a p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

#navHomeLink {
  display: flex;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 12px 20px 0 0;
}

nav ul:hover li a {
  color: rgba(255, 255, 255, 0.35);
  transition: 0.5s;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:hover a {
  color: white;
  transition: 0.5s;
}

nav ul li a {
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

/* main banner */

#banner {
  height: 100vh;
  padding: 90px 2% 0;
  color: white;
  background-image: url("images/volkswagen-e-golf.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#banner h1 {
  font-size: 50px;
  font-weight: 100;
  width: fit-content;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

#banner h1 span {
  font-weight: 400;
}

#banner p {
  font-size: 25px;
  font-weight: 100;
  width: fit-content;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

/* button removed for time being  */

/* #bannerButtonContainer {
  width: fit-content;
  margin: auto;
  position: absolute;
  bottom: 45vh;
  left: 45vw;
}

#banner button {
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 3px;
  width: fit-content;
  margin: auto;
}

#banner button a {
  font-size: 20px;
  color: white;
  font-weight: 100;
  text-decoration: none;
} */

/* Accordion Section  */

#accordionSection {
  display: flex;
  padding: 10px;
}

#accordionSection img {
  width: 60%;
  height: fit-content;
  padding: 5px;
}

#accordionSection .accordion-button {
  background: none;
  color: black;
}

#accordionSection button {
  font-weight: 600;
}

#accordionSection .accordion-body h3 span {
  font-weight: 100;
}

/* form section  */

#formSection form {
  width: 50%;
  margin: auto;
}

#formSection form label {
  display: block;
  color: rgb(114, 114, 114);
  font-weight: 400;
}

#formSection form #formEmail {
  margin-bottom: 5px;
}

#formSection form #emailCheckboxLabel {
  display: inline;
  position: relative;
  bottom: 2px;
}

#formSection form #emailCheckboxInput {
  width: fit-content;
  margin-left: 5px;
}

#formSection form input,
textarea {
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  width: 100%;
  padding: 7px;
}

#formSection form input:focus,
textarea:focus {
  outline: none;
  border: 2px rgba(0, 0, 0, 0.8) solid;
  padding: 6px;
}

#formSection form .formItemLastLine {
  margin-bottom: 10px;
}

#formSection form #formPhoneNumber {
  margin-bottom: 5px;
}

#formSection form #contactMethodInfo {
  color: rgb(114, 114, 114);
  display: inline;
}

#formSection form .radioInput {
  width: fit-content;
  margin-left: 20px;
}

#formSection form .radioLabel {
  display: inline;
}

#formSection form #questionsLabel {
  margin-top: 15px;
}

#formSection form #formSubmit {
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

/* footer  */

footer {
  padding: 25px 10%;
  margin: 50px auto 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

footer #footerTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px black solid;
  padding-bottom: 25px;
}

footer #footerTop img {
  height: 50px;
}

footer #footerTop a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 20px;
  position: relative;
  top: 15px;
}

footer #footerBottom {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

footer #footerBottom #footerBottomLeftCol {
  display: flex;
}

footer #footerBottom ul {
  list-style: none;
  padding: 0 20px 0 0;
}

/* footer #footerBottom ul:hover li a {
  color: rgba(255, 255, 255, 0.35);
  transition: 0.5s;
} */

footer #footerBottom ul li:hover a {
  color: rgba(255, 255, 255);
  transition: 0.25s;
}

footer #footerBottom ul li a {
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.25s;
}

footer #footerBottom form label {
  display: block;
  width: 300px;
}

footer #footerBottom form input {
  display: block;
  width: 300px;
}
