/* navbar  */

nav {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

nav a img {
  height: 50px;
  padding: 0;
  margin: 0;
}

nav a p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

#navHomeLink {
  display: flex;
  text-decoration: none;
  color: white;
}

nav #navOpenButton {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 12px 20px 0 0;
}

nav ul:hover li a {
  color: rgba(255, 255, 255, 0.35);
  transition: 0.5s;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:hover a {
  color: white;
  transition: 0.5s;
}

nav ul li a {
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

nav #NavSocialMediaIcons {
  display: none;
}

/* main banner */

#banner {
  height: 100vh;
  padding: 90px 2% 0;
  color: white;
  background-image: url("images/volkswagen-e-golf.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#banner h1 {
  font-size: 50px;
  font-weight: 100;
  width: fit-content;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

#banner h1 span {
  font-weight: 400;
}

#banner p {
  font-size: 25px;
  font-weight: 100;
  width: fit-content;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

#banner #bannerScrollDownArrow {
  display: none;
}

/* button removed for time being  */

/* #bannerButtonContainer {
  width: fit-content;
  margin: auto;
  position: absolute;
  bottom: 45vh;
  left: 45vw;
}

#banner button {
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 3px;
  width: fit-content;
  margin: auto;
}

#banner button a {
  font-size: 20px;
  color: white;
  font-weight: 100;
  text-decoration: none;
} */

/* Accordion Section  */

#accordionSection {
  padding-top: 100px;
}

#accordionSection h2 {
  text-align: center;
  margin-bottom: 25px;
}

#accordionSection #accordionSectionContainer {
  display: flex;
  padding: 10px;
}

#accordionSection img {
  width: 50%;
  height: fit-content;
  padding: 5px;
}

#accordionSection #interiorImg {
  display: none;
}

#accordionSection #lightsImg {
  display: none;
}

#accordionSection #wheelsImg {
  display: none;
}

#accordionSection .accordion-button {
  background: none;
  color: black;
}

#accordionSection button {
  font-weight: 600;
}

#accordionSection .accordion-body h3 span {
  font-weight: 100;
}

/* explore by grade section  */
/* check is it all needed  */

#exploreGradeSection #exploreSubHeading span {
  text-transform: uppercase;
  font-weight: 500;
}

#exploreGradeSection .cardImage {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

#exploreGradeSection h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 3px;
}

#exploreGradeSection .gradeCardSubHeading {
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
}

#exploreGradeSection ul {
  padding-left: 20px;
}

#exploreGradeSection a {
  color: black;
}


/* test drive section */

#testDriveSection {
  display: flex;
  width: 85%;
  margin: 125px auto 0;
  height: 425px;
  background-color: rgba(0, 0, 0, 0.8);
}

#testDriveSection img {
  width: 40vw;
  height: 500px;
  object-fit: cover;
  padding: 3%;
  position: relative;
  top: -75px;
}

#testDriveSection #testDriveSectionInfo {
  padding: 5%;
}

#testDriveSection h2 {
  font-weight: 100;
  font-size: 34px;
  color: white;
  text-transform: uppercase;
}

#testDriveSection h2 span {
  font-weight: 500;
}

#testDriveSection p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.5em;
  padding-top: 10px;
}

#testDriveSection a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  transition: 0.25s;
  font-size: 20px;
}

#testDriveSection a img {
  height: 40px;
  width: 40px;
  position: inherit;
  padding: 10px;
  transform: rotate(-90deg);
}

#testDriveSection a:hover {
  opacity: 0.5;
  transition: 0.25s;
}

/* related content section  */

#relatedContentSection .cardImage {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

#relatedContentSection h3 {
  font-weight: 300;
  font-size: 24px;
}

#relatedContentSection a {
  color: black;
  position: relative;
}

#relatedContentSection a:after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 80%;
  background-color: black;
  transition: 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

#relatedContentSection a:hover:after {
  transform: scaleX(1);
}

#relatedContentSection .nextIcon {
  height: 20px;
}

/* form section  */

#formSection {
  margin-top: 100px;
}

#formSectionTitleDiv {
  width: fit-content;
  margin: auto;
  text-align: center;
}

#formSection form {
  width: 50%;
  margin: auto;
}

#formSection form label {
  display: block;
  color: rgb(114, 114, 114);
  font-weight: 400;
}

#formSection form #formEmail {
  margin-bottom: 5px;
}

#formSection form #emailCheckboxLabel {
  display: inline;
  position: relative;
  bottom: 2px;
}

#formSection form #emailCheckboxInput {
  width: fit-content;
  margin-left: 5px;
}

#formSection form input,
textarea {
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  width: 100%;
  padding: 7px;
}

#formSection form input:focus,
textarea:focus {
  outline: none;
  border: 2px rgba(0, 0, 0, 0.8) solid;
  padding: 6px;
}

#formSection form .formItemLastLine {
  margin-bottom: 10px;
}

#formSection form #formPhoneNumber {
  margin-bottom: 5px;
}

#formSection form #contactMethodInfo {
  color: rgb(114, 114, 114);
  display: inline;
}

#formSection form .radioInput {
  width: fit-content;
  margin-left: 20px;
}

#formSection form .radioLabel {
  display: inline;
}

#formSection form #questionsLabel {
  margin-top: 15px;
}

#formSection form #formSubmit {
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: 0.25s;
}

#formSection form #formSubmit:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.25s;
}

/* footer  */

footer {
  padding: 25px 10%;
  margin: 100px auto 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

footer #footerTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px black solid;
  padding-bottom: 25px;
}

footer #footerTop img {
  height: 50px;
}

footer #footerTop #footerSocialMediaIcons a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 20px;
  position: relative;
  top: 15px;
  transition: 0.25s;
}

footer #footerTop #footerSocialMediaIcons a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
}

footer #footerBottom {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

footer #footerBottom #footerBottomLeftCol {
  display: flex;
}

footer #footerBottom ul {
  list-style: none;
  padding: 0 20px 0 0;
}

/* footer #footerBottom ul:hover li a {
  color: rgba(255, 255, 255, 0.35);
  transition: 0.5s;
} */

footer #footerBottom ul li:hover a {
  color: rgba(255, 255, 255);
  transition: 0.25s;
}

footer #footerBottom ul li a {
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.25s;
}

footer #footerBottom form label {
  display: block;
  width: 300px;
  margin-bottom: 5px;
}

footer #footerBottom form input {
  display: block;
  width: 300px;
  margin-bottom: 8px;
}

footer #footerBottom form #footerEmailSubmit {
  width: 100px;
  border-radius: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: 0.25s;
}

footer #footerBottom form #footerEmailSubmit:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.25s;
}

@media (max-width: 1000px) {
  /* navbar  */

  nav {
    background-color: rgb(0, 0, 0);
  }

  #navLinks {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300px;
    right: -300px;
    /* right: 0px; */
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
  }

  nav ul {
    display: block;
    margin-top: 75px;
  }

  nav ul li {
    margin: 10px 10px;
  }

  nav #navOpenButton {
    display: block;
    margin: 10px 10px 0 0;
    z-index: 1;
  }

  nav .openBars {
    width: 25px;
    height: 8px;
    border-bottom: 1px white solid;
  }

  nav #NavSocialMediaIcons {
    display: block;
  }

  nav #NavSocialMediaIcons a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 20px;
    position: relative;
    top: 15px;
  }

  /* main banner  */

  #banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 15vh 2% 0;
    position: relative;
    background-size: 120%;
    background-color: rgba(0, 0, 0, 1);
  }

  #banner h1 {
    font-size: 7vw;
    margin: auto;
  }

  #banner p {
    font-size: 6vw;
    position: absolute;
    bottom: 15vh;
    left: 20%;
    margin: 0;
  }

  #banner #bannerScrollDownArrow {
    display: block;
    height: 25px;
    width: auto;
    position: absolute;
    bottom: 2vh;
    left: 45%;
  }

  /* Accordion Section  */

  #accordionSection {
    margin-top: 50px;
  }

  #accordionSection #accordionSectionContainer {
    display: block;
  }

  #accordionSection img {
    width: 80%;
    height: fit-content;
    padding: 5px;
    display: block;
    margin: auto;
  }

  /* test drive section  */

  #testDriveSection {
    display: block;
    margin: 75px auto 0;
    height: fit-content;
  }

  #testDriveSection img {
    width: 100%;
    height: 80%;
    top: 0px;
  }

  /* form section  */

  #formSection {
    margin-top: 50px;
  }

  #formSection form {
    width: 90%;
  }

  #formSection form #contactMethodInfo {
    display: block;
    margin-bottom: 0;
  }

  #formSection form .radioInput {
    margin-left: 0px;
  }

  /* footer  */

  footer #footerBottom {
    display: block;
  }

  footer #footerBottom #footerBottomLeftCol {
    justify-content: space-between;
  }

  footer #footerBottom #footerBottomRightCol {
    margin-top: 15px;
  }

  footer #footerBottom form label {
    width: 90%;
  }

  footer #footerBottom form input {
    width: 90%;
  }
}

@media (max-width: 300px) {
  nav a p {
    display: none;
  }
}
